{% include "header.html" %}
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>

        <!-- Page Header-->
        <header class="masthead">
<div class="work">
<div class="container position-relative">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-8 col-xl-10">
             <div class="page-heading">
                <h1>Portifolio</h1>
                 <p>Here are a few design projects I've worked on recently. Want to see more? <a style="color:white; " href="{{url_for('contact')}}">Email me</a></p>
                 <br>
                 <br>
             </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                    <a href="https://citytourblog.herokuapp.com/" target="_blank" rel="noopener noreferrer"> <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white ">
                            <p> City Tour Blog Post Project created with Python, Flask, Bootstraps, MySQL </p>
                        </div>

                    </div></a>
                    <img class="img-fluid" src='../static/assets/img/city.png' alt="Card image cap">
                </div>
                </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                    <a href="https://dribbble.com/shots/17013440-UX-Designs-wave" target="_blank" rel="noopener noreferrer"> <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <p>UX design created with Adobe XD and converted into fully functional website</p> </div>

                    </div></a>
                    <img class="img-fluid" src='../static/assets/img/wave.png' alt="Card image cap">
                </div>
                </div>
           <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                    <a href="https://react-beach-resort-project-1111.netlify.app/" target="_blank" rel="noopener noreferrer"> <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <p>Check out this project created with Reactjs, SCSS and Contentful</p>
                        </div>

                    </div></a>
                    <img class="img-fluid" src='../static/assets/img/resortt.png' alt="Card image cap">
                </div>
                </div>
          </div>
                      <div class="row">
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                    <a href="https://www.vinestylebrand.com/" target="_blank" rel="noopener noreferrer"> <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <p>Shopify online store with customized liquid pages </p>
                        </div>

                    </div></a>
                    <img class="img-fluid" src='../static/assets/img/vine.png' alt="Card image cap">
                </div>
                </div>
            <div class="col-md-6 col-lg-4 mb-5 m,">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                    <a href="https://github-user-1111.netlify.app/login" target="_blank" rel="noopener noreferrer"> <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <p>Created with Reactjs, SCSS, 0Auth API and Nodejs </p>
                        </div>

                    </div></a>
                    <img class="img-fluid" src='../static/assets/img/github.png' alt="Card image cap">
                </div>
                </div>
           <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                    <a href="https://www.thefreyabrand.com/" target="_blank" rel="noopener noreferrer"> <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"> <p>Shopify ecommerce store with custom theme</p></div>

                    </div></a>
                    <img class="img-fluid" src='../static/assets/img/freya.png' alt="Card image cap">
                </div>
                </div>
          </div>
            <footer class="footer text-center">
                <a href="https://dribbble.com/Luganda" target="_blank" rel="noopener noreferrer">
                    <button class="btn btn-warning btn-sm btn-block text-uppercase"  type="button">See more on Dribbble</button></a>
            </footer>
</div>

        </div></div></div></div>


</header>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Core theme JS-->
<script src="../static/js/scripts.js"></script>
</body>

</html>